<li>
	<a href="https://scholar.google.com/citations?user=tEvw5mgAAAAJ&hl=en" itemprop="sameAs">
		<i class="ai ai-google-scholar ai-fw"></i> Google Scholar
	</a>
</li>

<li>
	<a href="https://www.researchgate.net/profile/Thomas-Oleary-Roseberry" itemprop="sameAs">
		<i class="ai ai-researchgate ai-fw"></i> ResearchGate
	</a>
</li>

<li>
	<a href="https://arxiv.org/a/olearyroseberry_t_1.html" itemprop="sameAs">
		<i class="ai ai-arxiv ai-fw"></i> arXiv
	</a>
</li>

<li>
	<a href="https://orcid.org/0000-0002-8938-7074" itemprop="sameAs">
		<i class="ai ai-orcid ai-fw"></i> ORCID
	</a>
</li>